<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currentTime</key>
		<string></string>
		<key>information</key>
		<string>该吃饭了，别忘了吃药</string>
		<key>image</key>
		<string>1.png</string>
		<key>title</key>
		<string>吃饭</string>
	</dict>
</array>
</plist>
